<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>309162820981-rbhi81kp512savp48nusbdstcejs6b7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309162820981-rbhi81kp512savp48nusbdstcejs6b7b</string>
	<key>API_KEY</key>
	<string>AIzaSyA2LolBZiVx4QUS0TlbW-WNf431u2DWYFs</string>
	<key>GCM_SENDER_ID</key>
	<string>309162820981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jason-chan.FirePad2</string>
	<key>PROJECT_ID</key>
	<string>firepadjc</string>
	<key>STORAGE_BUCKET</key>
	<string>firepadjc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:309162820981:ios:4533d177e59d226b</string>
	<key>DATABASE_URL</key>
	<string>https://firepadjc.firebaseio.com</string>
</dict>
</plist>